@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.back-body {
    background-color: #f3f4fb;
}

@responsive {
    .bg-network-left{
        background: url("/images/back-network.png") top left no-repeat;
    }
    .bg-network-right{
        background: url("/images/back-network.png") top right no-repeat;
    }
  }
